@using SharpBoard.App.Config
@using SharpBoard.App.Models
@{
    Board currentBoard = (Board) Model.foundBoard;
    int curPages = (int) Model.curPages;
    int currentPage = (int) Model.currentPage;
}
<div class="row">
    <div class="boardheader">
        Welcome to /@currentBoard.Shorthand/ - @currentBoard.Name
    </div>
</div>

<div class="row">
    <div class="">
        
        @if (currentBoard.Posts.Count == 0)
        {
            <h2>
                Error: No posts found in board.
            </h2>
        }

        @foreach (Post p in currentBoard.Posts)
        {
            <div class="post">
                <span class="titleline">
                    <span class="name">@p.Name</span>
                    <time datetime="@p.Time.ToString("R")">@p.Time.ToString("F")</time>
                    <span class="postid">No.@p.PostId</span>
                </span>
                <br/>
                @p.Content
            </div>
        }

        <ul class="pagination">
            @for (int i = 0; i <= @curPages; i++)
            {
                <li class="@(currentPage == i ? "current" : "")">
                    <a href="/@currentBoard.Shorthand/@i">@i</a>
                </li>
            }
        </ul>
        
    </div>
</div>
